<%- include('partials/header') %>

<div class="jumbotron text-center">
  <div class="container">
    <h1 class="display-3">ElGamal Algorithm</h1>

    <hr>

    <a class="ende btn btn-dark" href="/encrypt" role="button">Encrypt</a>
    <a class="ende btn btn-dark" href="/decrypt" role="button">Decrypt</a>
    <hr>
    <a class="btn btn-light btn-lg" href="/logout" role="button">Log Out</a>
  </div>
</div>

<%- include('partials/footer') %>
