<%- include('partials/header') %>

<div class="jumbotron text-center">
  <div class="container">
    <h1 class="display-3">Welcome</h1>

    <hr>
    <a class="btn btn-light btn-lg" href="/logout" role="button">Log Out</a>


    <hr>
  </div>
</div>

<%- include('partials/footer') %>
